body {
    font-family: Arial, sans-serif;
    background-color: #3289e0;
    text-align: center;
}

.todo-container {
    background: white;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 100 100 100px rgba(210, 38, 38, 0.89);
}

h2 {
    margin-bottom: 10px;
}

.input-section {
    display: flex;
    gap: 10px;
}

input {
    width: 70%;
    padding: 5px;
}

button {
    padding: 5px 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #e9ecef;
    margin: 5px 0;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
}

li .delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 2px 5px;
    cursor: pointer;
    border-radius: 3px;
}
